<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chat"></ion-back-button>
    </ion-buttons>
    <div class="box">
      <div class="right-content">
        <h3> 
         create
         </h3>
     </div>
   
    <div class="right-content">
      <h3 id="a"> 
        Choose Friends
       </h3>
   </div>
  </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar id="p"></ion-searchbar>
 

 <p id="box">Group</p>
 <ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>My Group</ion-label>
</ion-item>
 <p id="box">All Contacts</p>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>A</ion-label>
      </ion-item-divider>
    
      <ion-item>
        <ion-label>Andi</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Arga</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Adel</ion-label>
      </ion-item>
    </ion-item-group>
    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>B</ion-label>
      </ion-item-divider>
    
      <ion-item>
        <ion-label>Bambang</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Belarus</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Belgium</ion-label>
      </ion-item>
    </ion-item-group>

    
</ion-content>
