
* {
    /* digunakan untuk menghapus seluruh padding dan margin standar yang diberikan browser pada elemen */
    margin: 0;
    padding: 0;

    /* Menggunakan border-box dalam perhitungan dimensi box-nya */
    box-sizing: border-box;
}

.box {
    width: auto;
    height: 20px;;
    margin: 0 auto;
}

.left-content {
    text-align: right;
    line-height: 400px;
    width: 20%;
    height: 100%;
    padding: 10px 0 0 10px;

    /* digunakan untuk memindahkan posisi elemen ke sisi kiri container */
    float: left;
}


.right-content {
    text-align: right;
    line-height: 400px;
    width: 60%;
    height: 100%;
    padding: 10px 5px 0 0;
   

    /* digunakan untuk memindahkan posisi elemen ke sisi kanan container */
    float: right;
}
#a{
    text-align:center !important;
        // padding-left: 2px;
    padding-bottom: 15px;
  }