<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/chat"></ion-back-button>
    </ion-buttons>
    <div class="box">
      <div class="right-content">
        <h3> 
         </h3>
     </div>
     <div>
     <h3 id="a"> 
      Lisa
     </h3>
     </div>
     </div>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="box">
      <div class="left-content">
        <h3> 
          <ion-icon name="attach-outline"></ion-icon>
         </h3>
     </div>
   
    <div class="left-content">
      <h3> 
        <ion-input placeholder="Aa"></ion-input>
       </h3>
   </div> 
   <div class="right-content">
    <h3> 
      Lisa
     </h3>
 </div>
  </div>

  </ion-toolbar>
</ion-footer>