* {
    box-sizing: border-box;
 }
  
 body {
    font-family: sans-serif;
 }
  
 .flex-container-column {
    display: flex;
    /* properti pendukung */
    flex-direction: column;
    width: 99%;
    height:100%;
    margin: 0 auto;
    text-align: right;
 }
  
 .flex-container-row {
    display: flex;
    height:45%;
 }
  
 .fill {
    // flex-basis: -60%;
    width:60%;
    height:100%;   
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
  
 }
  
 .box {
    width: auto;
    height: 50px;;
    margin: 0 auto;
}

.right-content {
    text-align: right;
    line-height: 400px;
    width: 50%;
    height: 100%;
    padding: 0 5px 0 0;
   

    /* digunakan untuk memindahkan posisi elemen ke sisi kanan container */
    float: right;
}
#logo{
    text-align: center;
}

ion-button{

    text-align:center;

      border-radius: 100%;
      background-color:#F3B340 ;
      width :50px;
      height: 50px;
      font-size:13px;
      --border-radius:100%;

  }
#b{
    margin-left:15%;
}
  .grid{
 object-position: center;
    margin-left: -5px;
    margin-right:-5px;
  }