<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<ion-header>
  <ion-toolbar >
    <div class="box">
      <div class="right-content">
        <h3>
          <ion-icon size="large" name="ellipsis-vertical-outline"></ion-icon>
         
        </h3>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content  class="relative" >
  <div class="flex-container-column card">
    <div class="flex-container-row">
        <div class="fill"></div>
        <div class="fill"></div>
    </div>
    <div class="flex-container-row">
      <div class="fill"></div>
      <div class="fill"></div>
  </div>
    </div>
   
</ion-content>

<footer>
  <div>
  <ion-grid>
      <ion-row class="b"  >
        <div class="grid">
          <ion-col>
            <ion-button color="vici"><span class="material-icons" id="click">
              radio_button_checked
              </span></ion-button>
          </ion-col>
        </div>
        <div class="grid">
          <ion-col>
            <ion-button color="vici" ><span class="material-icons">
              language
              </span></ion-button>
          </ion-col>
        </div>
        <div class="grid">
          <ion-col>
            <ion-button color="vici"><span class="material-icons">
              camera_alt
              </span></ion-button>
          </ion-col>
        </div> 
        <div class="grid">
          <ion-col>
            <ion-button color="vici"> <span class="material-icons">
              mic_none
              </span></ion-button>
          </ion-col>
        </div>
        <div>
          <ion-col class="grid">
            <ion-button color="vici"><span class="material-icons">
              call_end
              </span></ion-button>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </div>
  </footer>