<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="container">
        <div class="left-content">
          <h3>Meeting Languange</h3>
        </div>
        <div class="right-content">
          <h3 id="text">Cancel</h3>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
<ion-list>
  <ion-radio-group value="biff" mode="ios">
    <ion-list-header>
      <ion-label>Select Your Language</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Indonesia</ion-label>
      <ion-radio slot="start" value="biff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

</ion-content>