@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
#container {
    text-align: center;
  padding-top: 20%;;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
ion-content{
    text-align: center;
}
  
img{
    margin-top: 150px;
    object-fit: cover;
    width: 123px;
    
}

#p {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ion-color-vici {
    --ion-color-base: var(--ion-color-vici);
    --ion-color-base-rgb: var(--ion-color-vici-rgb);
    --ion-color-contrast: var(--ion-color-vici-contrast);
    --ion-color-contrast-rgb: var(--ion-color-vici-contrast-rgb);
    --ion-color-shade: var(--ion-color-vici-shade);
    --ion-color-tint: var(--ion-color-vici-tint);
}

 
  button{
      margin: 0px; 
      border-radius: 5px;
  }
  .login{
      margin-top: 10px;
      text-align: center;
      border : none;
      padding : 0;
      text-decoration: none;
      display:inline-block;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      width: 118px;
      height:25px;
      color: #ffffff;
      font-size: 10px;
      background-color:#F3B340 ;
  }

  input[type=text] ,input[type=password]{
      background-color: #C4C4C4;
      border: none;
      color: #555555;
      padding : 15px 5px;
      text-decoration: none;
      font-size : 12px;
      margin : 5px;
      width :308px;
      height:32px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 10px;
  }
   
 ion-checkbox{
     margin-right: 10px ;
 }

 .container-div{
  
    margin-right: 5px;
    position: absolute;
    text-align: center;
 
    left: 0;
    right: 0;

  
 }

 a{
     margin-left:50px;
 }