<ion-content>
  <div id="back">
  <ion-title>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-title>
  </div>
  <div id="logo">
    <img src="assets\image\logovici.png" alt="logo">
    <p>SIGN IN</p>
  </div>

  <div id="container">
    <input type="text" placeholder="Email Address">
    <input type="password" placeholder="Password">
    <br>

    <div class="container-div">
      <ion-checkbox checked="true"></ion-checkbox>
      <ion-label>Remember Me</ion-label>
      <a href="#">Forgot Password</a>
    </div>
    <br>
    <button color="vici" ion-button class="login" routerLink="/tabs/Home">LOGIN</button>
  </div>
</ion-content>