<ion-header>  <ion-toolbar>
  <ion-title>
    <div class="container">
      <div class="left-content">
          <h3 id="a">Contact</h3>
      </div>
    
    <div class="right-content">
     <h3> 
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      <span class="iconify" data-icon="ion:add" data-inline="false"></span>        
      </h3>
  </div>
   </div>
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar id="p"></ion-searchbar>
 
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label><h2>Rebecca</h2><p>Filipina</p></ion-label>
  </ion-item>

 <p id="box">Group</p>
 <ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>My Group</ion-label>
</ion-item>
 <p id="box">All Contacts</p>
 <ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>My contact</ion-label>
</ion-item>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</ion-content>
