#box{
    background-color: #E5E5E5;
    height: 31px;
    padding-top:5px;
    padding-left : 15px;
    font-size: 19px;
  }

  .ion-color-vici {
    --ion-color-base: var(--ion-color-vici);
    --ion-color-base-rgb: var(--ion-color-vici-rgb);
    --ion-color-contrast: var(--ion-color-vici-contrast);
    --ion-color-contrast-rgb: var(--ion-color-vici-contrast-rgb);
    --ion-color-shade: var(--ion-color-vici-shade);
    --ion-color-tint: var(--ion-color-vici-tint);
}

h3{
  text-align: right;
}

  