<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/Home"></ion-back-button>
    </ion-buttons>
    <div class="box">
    <div class="right-content">
      <h3> 
       <ion-icon size="small" name="ellipsis-vertical-outline"></ion-icon>
       </h3>
   </div>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content >
 
    <ion-list>
    <ion-item>
      <ion-label>Select Your Language</ion-label>
      <ion-select>
        <ion-select-option value="i">Indonesia</ion-select-option>
        <ion-select-option value="e">English</ion-select-option>
      </ion-select>
    </ion-item>
</ion-list>
<ion-card>
  <ion-card-content>
  <div>
<h3>URL Meeting </h3>
<p>vici-meets.com/auishrhvnia <ion-badge><ion-icon name="copy-outline"></ion-icon></ion-badge></p>
<h3>Meeting Number</h3>
<p>2374023577</p>
  </div>
  </ion-card-content>
 
</ion-card>
<div id="logo">
  <ion-button color="vici">Join</ion-button>
  </div>
</ion-content>