<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  
  <div id="container">
    <img src="assets\image\Logo.PNG" alt="Logo" id="logo">
    <p>Happy Meeting</p>
  <ion-button size="small" color="joinmeeting">Join Meeting</ion-button>
  <ion-button size="small" color="signup" routerLink="/login">Sign In</ion-button>

  <p>Don't have an account? <strong id="p">Sign Up.</strong></p>
  </div>
</ion-content>
