<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  
    </ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content [fullscreen]="true">
  
  <div id="container">
    <img src="assets\image\logovici.png" alt="Logo" id="logo">
    <p>Enjoy the Meeting</p>
  <ion-button size="small" color="joinmeeting" >Join Meeting</ion-button>
  <ion-button size="small" color="signup" routerLink="/login">Sign In</ion-button>

  <p>Don't have an account? <a routerLink="/signup"><strong id="p">Sign Up.</strong></a></p>
  </div>
</ion-content>
